<% include ../partials/header %>
<% include ../partials/nav %>
<div class="row">
    <div class="col-lg-4 col-lg-offset-4"> 
        <div class="panel panel-default" style="padding:20px;">        
            <div class="media">
                <div class="media-left">
                    <a href="/user/profile/<%=foundPile.author.id%>">
                    <img class="media-object" style="height:64px;width:64px" src="/uploads/avatar<%=foundPile.author.id%>.png">
                    </a>
                </div> 
                <div class="media-right">
                    <h4 class="media-heading"><a href="/user/profile/<%=foundPile.author.id%>"><%= foundPile.author.username %></a></h4>
                    <p><%= foundPile.date.getMonth() + 1 %>/<%= foundPile.date.getDate()%>/<%= foundPile.date.getFullYear() %></p>
                    <p><%- foundPile.body %></p>
                <% if(currentUser && foundPile.author.id.equals(currentUser._id)){ %>
                <div class="well-sm">
                    <form action="/crud/<%=foundPile.id%>?_method=DELETE" method="post"style="display:inline">
                        <button class="btn btn-xs btn-primary" type="submit">Delete</button>
                    </form>
                    <form action="/crud/<%=foundPile.id%>/edit" method="get"style="display:inline">
                        <button class="btn btn-xs btn-info" type="submit" >Edit</button>
                    </form>
                </div>
                <% } %>                
                </div>
            <% if (foundPile.comments.length > 0){ %>
                <div class="well well-lg">
                    <ul class="media-list"> 
                    <% foundPile.comments.forEach(function(comment){ %>                                  
                        <li class="media">
                            <div class="media-left">
                                <a href="/user/profile/<%=comment.author.id%>">
                                <img class="media-object" style="height:64px;width:64px" src="/uploads/avatar<%=comment.author.id%>.png"></a>
                            </div>  
                            <div class="media-right">
                                <h4 class="media-heading"><a href="/user/profile/<%=comment.author.id%>"><%= comment.author.username%></a></h4>
                                <p><%= comment.text %></p>
                            </div>
                        </li>
                    <% }); %>
                    </ul>
                </div>    
                <% } %>
            </div>
            <% if(currentUser){ %>
                <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#<%=foundPile.id%>com" aria-expanded="false" aria-controls="collapseExample">
                Comment
                </button>
                <div class="collapse" id="<%=foundPile.id%>com">
                <div class="panel-body">
                        <form action='/crud/<%= foundPile.id %>/comment' method='POST'>
                            <div class="form-group">
                                <textarea class="form-control" type='text' name='comment[text]' rows="5" placeholder='Write a comment' required></textarea>
                                <input class="btn btn-sm btn-primary" type='submit' name='submit'>
                            </div>
                        </form>
                    </div>
                </div>
            <% } %>                 
        </div>
    </div>
</div>

<% include ../partials/footer %>