<% include ../partials/header %>
<% include ../partials/nav %>
<link rel="stylesheet" href ="/css/blog.css" type="text/css">
<!--BLOG PANEL--> 
<div class="row">
    <% allBlogs.forEach(function(post){ %> 
<div class="col-lg-6 col-lg-offset-3">
    <div class="thumbnail"style="padding:0px">
        <div class="parallax" style="background-image: url('/images/javaCode.jpg')">
            <div class="jumbotron text-right trendy"style="padding-right:20px">
                <h1><%= post.name %></h1>
                <h2><%= post.author.username %></h2>
                <p><%= post.date.getMonth() + 1 %>/<%= post.date.getDate()%>/<%= post.date.getFullYear() %></p>
            </div>
        </div>
    
        <div class="caption">
           
                <div class="panel-body">
                    <%- `<section>${post.body.substring(0,3500)}<div class="text-center"><i class="fa fa-2x fa-ellipsis-h" aria-hidden="true"></i></div></section>` %> 
                </div>
            
                <p class="text-right">
                    <% if (post.comments.length === 1){ %>
                        <%= post.comments.length %> comment
                    <% } else{ %>
                        <%= post.comments.length %> comments
                    <% } %>
                    <br>
                <a href="/blog/<%=post._id%>"><button class="btn btn-primary"><i class="fa fa-angle-double-right" aria-hidden="true"></i>  Read More</button></a> 
                </p>
        </div>
    </div>    
</div>
    <% }); %>
</div>
<!--PAGES-->
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <nav aria-label="...">
        <ul class="pager">
            <% if(pagenum !== 0){ %>
            <li><a href="/blog/pages/<%=pagenum - 1 %>"><span aria-hidden="true">&larr;</span>   Previous</a></li>
            <% } %>
            <li><a href="/blog/pages/<%=pagenum + 1 %>">Next   <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
        </nav>
    </div>
</div>
<% include ../partials/footer %>