<% include ../partials/header %>
<% include ../partials/nav %>
<div class="jumbotron">
    <div class="container">
        <h1><%= foundBlog.name %></h1>
        <h2>a blogpost by <%= foundBlog.author.username %></h2>
        <p>on <%= foundBlog.date.getMonth() + 1 %>/<%= foundBlog.date.getDate()%>/<%= foundBlog.date.getFullYear() %>  </p>
    </div>
</div> 
<div class="container">
    <div class="panel panel-default" style="padding:10px">   
    <% if(currentUser && foundBlog.author.id.equals(currentUser._id)){ %>
            <div class="text-right">
                <form style="display:inline;" action="/blog/<%= foundBlog._id%>/edit" method="get">
                    <button class="btn btn-xs btn-warning" style="margin: 0">Edit</button>
                </form>
                <form style="display:inline;" action="/blog/<%= foundBlog._id%>?_method=DELETE" method="post">
                    <button class="btn btn-xs btn-danger" style="margin: 0">Delete</button>
                </form>
            </div>   
    <% } %>
    <div class="panel-body">
        <%- foundBlog.body %>
        </div>
    </div>
</div>
<% include ../partials/footer %>